/web/archivos/
/web/bundles/
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
/app/config/parameters.yml
/build/
/vendor/
/bin/
/composer.phar
/src/Acme/*
/nbproject/*
/nbproject/private/
/.vscode/
/.idea/

app/config/deploy.rb

web/uploads/*

nbproject/private/private.xml

web/uploads