/web/archivo/
/web/bundles/
/web/uploads/
/web/repo/

!/var/cache
/var/cache/*

!/var/logs
/var/logs/*
/app/config/parameters.yml
/build/
!var/SymfonyRequirements.php
/vendor/
/.vscode/
/.idea/
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
