<html>
<body>
<h2>Contraseña de ingreso directo al Módulo MED:</h2>
<br>
<br>
El ingreso regular MED se realiza a través del inicio se sesión de la Intranet institucional, sin embargo se han
generado una contraseña de ingreso directo al MED.
<br>
<br>
A partir de ahora el ingreso regular a través de la intranet no funcionara, por favor ingrese únicamente a través de la
dirección indicada a continuación:
<br>
<br>
Usuario:<b> {{ user }}</b>
<br>
Contraseña:<b> {{ newpass }}</b>
<br>
<br>
Para ingresar con esta contraseña por favor ingrese únicamente desde la siguiente dirección:
http://med.unad.edu.co/login
<br>
<br>
Mensaje enviado automaticamente, no es necesario que lo responda.<br>
Módulo de evaluación docente MED<br>
http://med.unad.edu.co
</body>
</html>
